.button {
    background-color: #ececec;
    color: black;
    border: solid 2px #39197c;
    border-radius: 2px;
    outline: none;
    transition:.3s;
    height: 30px;
    flex-shrink: 0;
    line-height: 30px;
    text-align: center;
    cursor: pointer;
}

.button:hover {
    background-color: #6525e5;
    color: white;
    box-shadow: 0 0 6px #6525e5;
}

.button:active {
    background-color: #220d4f;
    box-shadow: 0 0 6px #39197c;
}

.button:disabled {
    background-color: #ececec;
    border: solid 2px #6c6c6c;
    color: black;
    box-shadow: none;
}

.red-button {
    background-color: #ececec;
    color: black;
    border: solid 2px #e52525;
    border-radius: 2px;
    outline: none;
    transition:.3s;
    height: 30px;
    flex-shrink: 0;
    line-height: 30px;
    text-align: center;
    cursor: pointer;
}

.red-button:hover {
    color: white;
    background-color: #e52525;
    box-shadow: 0 0 6px #e52525;
}

.red-button:active {
    background-color: #a61313;
}

.red-button:disabled {
    background-color: #ececec;
    border: solid 2px #6c6c6c;
    color: black;
    box-shadow: none;
}